.main-content-container {
  position: relative;
}

.main-content {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding-bottom: 7rem;
  }
}
